In [14]:
import os 
import pandas as pd

In [15]:
data=pd.read_csv('Ordenes_productos_C1_M2.3.csv', sep=';', encoding='latin-1')

In [16]:
data.head(5)

,orden_id,order_item_id,producto_id,vendedor_id,fecha_envio_limite,precio,valor_flete,codigo_postal_vendedor,ciudad_vendedor,departamento_vendedor,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,peso_g_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
0,107500PO59A,A,PO59,VE5389,7/04/2018 18:12,271.86,30.72,52435,Mallama,Nariño,Productos ecoamigables,6.0,7.0,27.0,2486.0,17.0,11.0,14.0
1,37493PS22B,B,PS22,VE1558,20/10/2017 9:07,115.73,4.68,52203,Colon,Nariño,Carnicería,10.0,31.0,20.0,256.0,43.0,2.0,21.0
2,28050PK20B,B,PK20,VE9159,17/08/2017 8:15,432.99,82.70,66001,Pereira,Risaralda,Deportes,25.0,5.0,4.0,5270.0,9.0,27.0,29.0
3,52187PA10A,A,PA10,VE3159,23/09/2017 23:27,108.38,35.39,52435,Mallama,Nariño,Electrodomésticos,10.0,1.0,6.0,734.0,46.0,48.0,22.0
4,84639PR12A,A,PR12,VE5090,7/01/2018 11:50,51.50,11.10,73001,Ibague,Tolima,Frutas y verduras,23.0,16.0,35.0,884.0,45.0,26.0,18.0

In [17]:
data.dtypes

orden_id                          object
order_item_id                     object
producto_id                       object
vendedor_id                       object
fecha_envio_limite                object
precio                           float64
valor_flete                      float64
codigo_postal_vendedor             int64
ciudad_vendedor                   object
departamento_vendedor             object
nombre_categoria_producto         object
longitud_nombre_producto         float64
longitud_descripcion_producto    float64
cantidad_fotos_producto          float64
peso_g_producto                  float64
longitud_cm_producto             float64
altura_cm_producto               float64
ancho_cm_producto                float64
dtype: object

## Tablas de frecuencia

In [18]:
frec_data=data['nombre_categoria_producto'].value_counts().reset_index()
frec_data.head(10)

               index  nombre_categoria_producto
0         Tecnología                        542
1           Deportes                        537
2  Frutas y verduras                        531
3         Carnicería                        523
4    Ropa de adultos                        521
5         Ferretería                        518
6           Juguetes                        516
7      Ropa infantil                        511
8  Electrodomésticos                        509
9         Dormitorio                        508

In [19]:
frec_data['porcentaje_nombre_categoria_producto']=frec_data['nombre_categoria_producto'].apply(lambda x: x/frec_data['nombre_categoria_producto'].sum())

frec_data.head(5)

,index,nombre_categoria_producto,porcentaje_nombre_categoria_producto
0,Tecnología,542,0.053605
1,Deportes,537,0.053110
2,Frutas y verduras,531,0.052517
3,Carnicería,523,0.051726
4,Ropa de adultos,521,0.051528

In [20]:
frec_data['acumulada_nombre_categoria_producto']=frec_data['nombre_categoria_producto'].cumsum()

frec_data['acumulada_porcentaje_nombre_categoria_producto']=frec_data['porcentaje_nombre_categoria_producto'].cumsum()

frec_data.head(10)

,index,nombre_categoria_producto,porcentaje_nombre_categoria_producto,acumulada_nombre_categoria_producto,acumulada_porcentaje_nombre_categoria_producto
0,Tecnología,542,0.053605,542,0.053605
1,Deportes,537,0.053110,1079,0.106715
2,Frutas y verduras,531,0.052517,1610,0.159233
3,Carnicería,523,0.051726,2133,0.210958
4,Ropa de adultos,521,0.051528,2654,0.262486
5,Ferretería,518,0.051231,3172,0.313718
6,Juguetes,516,0.051034,3688,0.364751
7,Ropa infantil,511,0.050539,4199,0.415290
8,Electrodomésticos,509,0.050341,4708,0.465631
9,Dormitorio,508,0.050242,5216,0.515874

In [21]:
frec_data

,index,nombre_categoria_producto,porcentaje_nombre_categoria_producto,acumulada_nombre_categoria_producto,acumulada_porcentaje_nombre_categoria_producto
0,Tecnología,542,0.053605,542,0.053605
1,Deportes,537,0.053110,1079,0.106715
2,Frutas y verduras,531,0.052517,1610,0.159233
3,Carnicería,523,0.051726,2133,0.210958
4,Ropa de adultos,521,0.051528,2654,0.262486
5,Ferretería,518,0.051231,3172,0.313718
6,Juguetes,516,0.051034,3688,0.364751
7,Ropa infantil,511,0.050539,4199,0.415290
8,Electrodomésticos,509,0.050341,4708,0.465631
9,Dormitorio,508,0.050242,5216,0.515874
10,Lácteos,499,0.049352,5715,0.565226
11,Libros,497,0.049154,6212,0.614380
12,Productos ecoamigables,497,0.049154,6709,0.663535
13,Mascotas,495,0.048957,7204,0.712491
14,Tarjetas regalo,495,0.048957,7699,0.761448
15,Salud,488,0.048264,8187,0.809712
16,Celulares,488,0.048264,8675,0.857976
17,Muebles,486,0.048066,9161,0.906043
18,Licor,475,0.046979,9636,0.953021
19,Bebés,475,0.046979,10111,1.000000

In [22]:
#tabla de fecuencia bivariada

pd.crosstab(index=data['nombre_categoria_producto'], columns=data['ciudad_vendedor'])

ciudad_vendedor,Abejorral,Abrego,Abriaqui,Acacias,Acandi,Acevedo,Achi,Agua de dios,Arauca,Arboleda,...,San andres,San jose del guaviare,San juan de arama,San juanito,Santa marta,Sincelejo,Tunja,Valledupar,Villavicencio,Yopal
nombre_categoria_producto,,,,,,,,,,,,,,,,,,,,,
Bebés,9,23,1,20,0,0,9,4,3,6,...,2,6,8,18,1,12,1,5,23,10
Carnicería,8,16,1,15,0,0,5,7,10,7,...,1,6,13,13,1,10,4,4,24,5
Celulares,7,19,0,17,0,1,11,9,4,9,...,3,3,11,12,0,8,2,5,17,16
Deportes,10,19,0,24,1,0,4,3,5,5,...,3,6,7,11,0,21,3,2,33,7
Dormitorio,8,9,2,19,0,0,9,3,11,9,...,2,6,9,10,1,16,2,2,31,7
Electrodomésticos,5,27,1,17,1,0,5,6,3,4,...,2,1,6,8,2,15,5,3,18,7
Ferretería,5,14,0,18,0,0,6,7,9,6,...,3,2,18,11,1,15,6,4,14,12
Frutas y verduras,6,20,0,16,2,0,6,5,8,12,...,2,7,15,16,2,14,2,1,24,15
Juguetes,9,18,0,19,2,0,11,3,6,11,...,6,1,15,11,3,17,4,3,30,12
Libros,7,18,1,20,2,0,8,9,5,8,...,1,1,15,11,2,10,4,3,22,13
Licor,6,16,0,14,0,1,10,4,9,2,...,1,6,9,18,1,19,3,6,22,10
Lácteos,6,12,1,19,0,3,9,8,7,6,...,1,5,12,11,1,14,4,4,11,16
Mascotas,9,12,0,13,1,0,7,7,4,7,...,4,7,15,14,2,11,1,8,19,17
Muebles,3,19,1,19,0,2,5,3,1,11,...,1,3,10,7,0,16,1,1,17,13
Productos ecoamigables,8,15,0,20,1,2,9,4,5,13,...,0,10,14,9,1,17,2,4,13,14
Ropa de adultos,4,20,1,20,1,0,11,3,3,10,...,2,7,17,15,0,15,4,2,14,6
Ropa infantil,12,22,2,15,0,2,11,3,11,11,...,1,4,14,18,3,9,3,3,20,10
Salud,5,16,1,11,0,0,6,4,10,3,...,1,2,14,14,0,18,5,4,19,13
Tarjetas regalo,9,18,1,21,1,0,9,5,13,4,...,5,5,13,11,2,15,2,2,13,11
Tecnología,8,19,2,20,1,1,6,4,3,8,...,0,4,13,10,3,15,4,6,20,10

## Medidas de tendencia central

In [23]:
#Media de precios

data['precio'].mean()

119.7923465561476

In [24]:
#moda
data['precio'].mode()

0     3.92
1    11.39
2    11.79
3    15.80
4    16.42
5    25.45
6    34.43
7    36.96
8    56.79
Name: precio, dtype: float64

## Medidas de localizacion

In [25]:
#cuantiles
data['peso_g_producto'].quantile([0.20,0.50,0.70])

0.2     471.0
0.5    1459.0
0.7    2536.0
Name: peso_g_producto, dtype: float64

## Medidas de dispersion

In [26]:
#Desviasion estandar

data['longitud_cm_producto'].std()

15.286298866596711

In [27]:
#Rango intercuartilico
#es la diferencia entre el tercer y primer cuartil

data['longitud_cm_producto'].quantile(0.75)-data['longitud_cm_producto'].quantile(0.25)

22.0

In [28]:
#Rango

#resta entre dato max y min

data['longitud_cm_producto'].max()-data['longitud_cm_producto'].min()

91.0

In [29]:
#coeficiente de variacion

data['longitud_cm_producto'].std()/data['longitud_cm_producto'].mean()

0.5084018928267705

In [30]:
data.describe()

,precio,valor_flete,codigo_postal_vendedor,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,peso_g_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
count,10134.000000,10134.000000,10134.000000,10111.000000,10111.000000,10111.000000,10111.000000,10111.000000,10111.000000,10111.00000
mean,119.792347,20.053246,49991.684626,20.070023,19.844724,20.097616,2106.475522,30.067352,17.911186,22.91257
std,119.340785,20.106163,22463.895340,11.719844,11.851631,11.802373,2094.402206,15.286299,11.359838,11.15189
min,0.010000,0.000000,5001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,34.155000,5.760000,50001.000000,10.000000,10.000000,10.000000,607.000000,19.000000,9.000000,15.00000
50%,83.120000,13.980000,52323.000000,20.000000,20.000000,20.000000,1459.000000,30.000000,17.000000,23.00000
75%,165.515000,27.455000,54003.000000,30.000000,30.000000,30.000000,2941.000000,41.000000,26.000000,30.00000
max,1262.940000,183.150000,99001.000000,40.000000,40.000000,40.000000,20661.000000,91.000000,64.000000,72.00000

## Ejercicio de trabajo caso airbnb (Evaluacion)

### punto 1

In [31]:
data=pd.read_csv('listings.csv')

#buscar 'review_scores_rating'

if 'review_scores_rating' in data.columns:
    review_scores_rating = data['review_scores_rating']
else:
    raise KeyError('No se encuentra la variable solicitada')

In [45]:
#Elimino datos nulos
data=data.dropna(subset=['review_scores_rating'])

#data['review_scores_rating'].astype(int)

#creo los intervalos
data['Interval']= pd.cut(data['review_scores_rating'], bins=list(range(20,data['review_scores_rating'].astype(int).max()+6, 6)),right=False)


#tabla de frecuencia
frec_data = data['Interval'].value_counts().sort_index()

#Agrego la columna de frecuencia relativa
frec_data['frec_relativa']=frec_data/frec_data.sum()

#Agrego la columna frecuencia relativa en porcentaje
frec_data['frec_relativa_porcentaje']=frec_data['frec_relativa'].apply(lambda x: x*100)

#Agrego la columna frecuencia acumulada
frec_data['frec_acumulada']=frec_data['frec_relativa'].cumsum()

#Agrego la columna frecuencia acumulada en porcentaje
frec_data['frec_acumulada_porcentaje']=frec_data['frec_acumulada'].apply(lambda x: x*100)

frec_data

[20, 26)                                                                    24
[26, 32)                                                                     0
[32, 38)                                                                     1
[38, 44)                                                                    22
[44, 50)                                                                     2
[50, 56)                                                                     8
[56, 62)                                                                    96
[62, 68)                                                                    27
[68, 74)                                                                    78
[74, 80)                                                                    57
[80, 86)                                                                   746
[86, 92)                                                                  1735
[92, 98)                                                                  5321
[98, 104)                                                                 7070
frec_relativa                [20, 26)     0.001580
[26, 32)     0.000000
[3...
frec_relativa_porcentaje     [20, 26)      0.158030
[26, 32)      0.000000
...
frec_acumulada               [20, 26)     0.001580
[26, 32)     0.001580
[3...
frec_acumulada_porcentaje    [20, 26)       0.158030
[26, 32)       0.15803...
Name: Interval, dtype: object

In [46]:
data.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,accommodates,bathrooms,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,1.518700e+04,1.518700e+04,1.518700e+04,14685.000000,14685.000000,0.0,15187.000000,0.0,14386.000000,15146.000000,...,15177.000000,15169.000000,15176.000000,15171.000000,15171.000000,15187.000000,15187.000000,15187.000000,15187.000000,15187.000000
mean,1.931840e+07,2.021041e+13,6.211834e+07,2.712972,2.712972,NaN,2.831369,NaN,1.522244,1.756041,...,9.453911,9.743490,9.788350,9.510711,9.199987,2.657273,2.114111,0.489695,0.007704,0.570372
std,1.212720e+07,0.000000e+00,8.003635e+07,11.181580,11.181580,NaN,1.256385,NaN,0.884870,1.440158,...,0.923897,0.677048,0.653072,0.715264,0.842636,8.875283,8.654174,1.631967,0.123627,1.023529
min,2.818000e+03,2.021041e+13,3.159000e+03,0.000000,0.000000,NaN,1.000000,NaN,1.000000,0.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,9.356808e+06,2.021041e+13,8.965784e+06,1.000000,1.000000,NaN,2.000000,NaN,1.000000,1.000000,...,9.000000,10.000000,10.000000,9.000000,9.000000,1.000000,1.000000,0.000000,0.000000,0.120000
50%,1.821025e+07,2.021041e+13,2.620455e+07,1.000000,1.000000,NaN,2.000000,NaN,1.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,9.000000,1.000000,1.000000,0.000000,0.000000,0.270000
75%,2.790874e+07,2.021041e+13,8.037130e+07,1.000000,1.000000,NaN,4.000000,NaN,2.000000,2.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,1.000000,0.000000,0.000000,0.550000
max,4.859614e+07,2.021041e+13,3.919299e+08,510.000000,510.000000,NaN,16.000000,NaN,30.000000,33.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,85.000000,84.000000,21.000000,4.000000,32.190000

In [64]:
data['review_scores_rating'].quantile([0.53])
data['review_scores_rating'].min()

20.0

### punto 2

In [62]:
df=pd.read_csv('listings.csv')

#buscar 'price'

if 'price' in df.columns:
    price = df['price']
else:
    raise KeyError('No se encuentra la variable solicitada')
#transformo la variable "price" de caracter a numerica

df['price'].astype(int)

#Elimino datos nulos e iguales a cero

df=df[df['price']!=0]
df=df.dropna(subset=['price'])

#calculo el percentil 78
df['price'].quantile([0.78])

#filtro los precios con el percentil 78 que es 195
df=df[df['price']>195]

#saco el promedio
df['price'].mean()

300.7602172788412

### Punto 3

In [92]:
datos=pd.read_csv('listings.csv')

#buscar 'price'

if 'price' in df.columns:
    price = df['price']
else:
    raise KeyError('No se encuentra la variable solicitada')
#transformo la variable "price" de caracter a numerica

df['price'].astype(int)

#Elimino datos nulos e iguales a cero

df=df[df['price']!=0]
df=df.dropna(subset=['price'])

#saco el promedio y selecciono los registros por debajo de ese valor
df['price'].mean()
df=df[df['price']<df['price'].mean()]

#selecciono los registros con valor de 'price' menor a el promedio, luego los divido por los registros totales


#creo un for para guardar cada df['price']<df['price'].mean en una lista

lista=[]
for df['price']<df['price'].mean() in df['price']:
    lista.append(df[df['price']<df['price'].mean()])

#sumo los valores de la lista

sum(lista)

SyntaxError: invalid syntax (3140549331.py, line 28)